nav.navbar {
  min-height: 50px;
  padding-top: 100px;
  color:whitesmoke;
  background-color: rgb(33, 143, 247);
  margin-bottom:0px;
  
}

.navbar-button{
  position: absolute;
    z-index: 1;
    top: 10px;
    right: 10px;
    border: 1px solid white;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    color: white;
}

.carousel-item {
  width: auto;
  height: 455px;
  max-height: 455px;
  /* width: 100%;
  max-width: 1200px; */
}

.carousel-caption{
  color: red;
  

}

.carousel-item img{
height: 100%;
object-fit: cover;
}

.carousel-description{
  background-color: black;
    height: 80px;
    position: relative;
    top: -90px;
    z-index: -1;
    opacity: 0.6;
}